<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <!--Recurso definido y vinculado con el archivo server.xml en Tomcat7-->
    <description>SQL Server Connection</description>
    <resource-ref>
        <description>DB Connection SqlAdmin</description>
        <res-ref-name>jdbc/SqlAdmin</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>SqlAdmin</res-auth>
    </resource-ref>
    <!--Comienza el mapeo de los servlets-->
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>